header, footer
{
	background-color: #b30000;
	color: white;
	min-height: 3em;
}

header
{
	margin-bottom: 1em;
}

footer
{
	margin-top: 1em;
}

.nav-col a, .mode-col a
{
	font-size: 1.1em;
	color: black;
}

.nav-col
{
	border-right: 4px solid #b30000;
}

.mode-col
{
	border-left: 4px solid #b30000;
}